// Basic Colors
@provider-bg: rgb(118, 146, 156);       // Primary color
@dark-gray: #c2c2c2;  // Default color
@blue: #1c84c6;       // Success color
@lazur: #23c6c8;      // Info color
@yellow: #f8ac59;     // Warrning color
@red: #ED5565;        // Danger color
@provider-bg: rgb(118, 146, 156);
@consumer-bg: rgba(92, 156, 77, 0.78);
@translucent-black: rgba(39, 39, 39, 0.75);
@data-resource-color: rgba(159, 163, 165, 0.43);


// Various colors
@text-color: #676a6c;   // Body text
@gray: #f3f3f4;         // Background wrapper color
@light-gray: #D1DADE;   // Default label, badget
@label-badget-color: #5E5E5E;

// IBOX colors ( default panel colors)
@border-color: #e7eaec;     // IBox border
@ibox-title-bg:#ffffff;     // IBox Background header
@ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
@sidebar-width: 220px;

// Boxed layout width
@boxed-width: 1200px;
@boxed-backgound: url('patterns/shattered.png');

//Border radius for buttons, widgets etc
@btn-border-radius: 0px;
@widget-border-radius: 0px;
@wizard-border-radius: 0px;



//Navigation
@nav-bg: #2F4050;
@nav-top-bg: @translucent-black;
@nav-profil-pattern: url("patterns/header-profile.png") no-repeat;
@nav-text-color: #cedbef;
