/.metadata/
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
tmp/
test-output/
*.bundle
*.so
*.o
*.a
*.log
.project
.classpath
*.classpath
.settings
target/
log/
RIOTS_LOG_DIR_IS_UNDEFINED
git.properties
.idea
*.iml
*.ipr
rebel.xml
node_modules/
bower_components/
