/cloud-data-stream-modules/elasticsearch-sink/target
*.class

.gradle/
bin/
build/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

.project
.classpath
*.classpath
.settings
target/
log/
RIOTS_LOG_DIR_IS_UNDEFINED
git.properties
.idea
*.iml
*.ipr
test-report.xml
rebel.xml
node_modules/
bower_components/
