/.metadata/
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.project
.classpath
.settings
target/
log/
RIOTS_LOG_DIR_IS_UNDEFINED
git.properties
.idea
*.iml
*.ipr
rebel.xml
