/* main styles */

#loadingDiv {
	position: absolute;
	right: 5px;
	top: 6px;
	opacity: 0.8;
}
#loadingDiv img {
	width: 30px;
	height: 30px;
}

/* hide content before it is loaded */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/* app structure */

#authContainer .jumbotron {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* angular ui and theme overrides */

.form-control {
	display: inline;
}
.tab-pane {
	margin-top: 10px;
}
.split-pane2, .split-pane1 {
	background: #fff;
}
.split-panes.horizontal > .split-pane2 {
	margin-left: 13px; border-left: none;
}
.split-panes.vertical > .split-pane2 {
	margin-top: 13px; border-top: none;
}
.split-panes.horizontal > .split-handler {
	//margin-left: 5px; margin-right: 5px; 
	margin: 0px;
	width: 13px;
	//border-left: 1px dotted #f0f0f0;
	background: linear-gradient(to left, #ffffff 0%, #ffffff 40%, 
		#f5f5f5 50%, #ffffff 60%, #ffffff 100%);
}
.split-panes.vertical > .split-handler {
	//margin-top: 5px; margin-bottom: 5px; 
	margin: 0px;
	height: 13px;
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 40%, 
		#f5f5f5 50%, #ffffff 60%, #ffffff 100%);
}
ul.nav-tabs a.ng-binding {
	cursor: pointer;
}
.tab-content {
	padding: 2px;
}
.ui-grid {
	margin-bottom: 10px; margin-top: 7px;
}

/* custom styles */
.well-flat {
	display: block; padding: 20px; margin-bottom: 20px;
}
a.right.carousel-control, a.left.carousel-control {
	background-image: none;
}
.carousel-indicators {
	display: none;
}
