<div class="animated fadeIn">
	<h2>Summary for Data Resource {{resourceData.name}}</h2>
	<div class="widget p-xl">
		<div class="row" style="margin-top: 10px;">
			<dl class="dl-horizontal" style="text-align: left;">
				<dt>Name</dt>
				<dd>{{resourceData.name}}</dd>
				<dt>Description</dt>
				<dd>{{resourceData.description}}</dd>
			</dl>
		</div>

		<div class="pull-right" style="margin-right: -18px;" ng-show="resourceData.securityEnabled">
			<span style="margin-right: 10px;font-size: larger">Data Security is enabled! Yay!</span>
			<span class="fa fa-3x fa-shield text-success"></span>
		</div>

		<div class="pull-right" style="margin-right: -18px;" ng-hide="resourceData.securityEnabled">
			<span class="text-danger" style="margin-right: 10px;font-size: larger">Data Security is NOT enabled!</span>
			<span class="fa fa-3x fa-shield text-danger"></span>
		</div>
	</div>

	<div class="animated fadeIn">
		<h3>Terms and Conditions</h3>
		<!--<ng-include src="'terms.html'"></ng-include>-->
		<div class="pre-scrollable">

			This Agreement governs your use of or interaction with the BootstrapDevelopment.com web site (the “Site”) operated
			by Bootstrap Development, LLC, including, without limitation, access to web logs and forums, and any and all
			services offered by Bootstrap Development on or through the Site (“Services”), together with all of the foregoing
			uses and services, to be hereinafter referred to as the “Site”.

			Please read the following terms and conditions of use (“Terms”) carefully as they contain the legal terms and
			conditions of an agreement (“Agreement”) that you agree to when you access the Site or use the Services.

			BY ACCESSING OR USING THE SITE OR ANY OF THE SERVICES YOU AGREE TO BE BOUND BY THE TERMS APPLICABLE TO ALL USERS
			OF
			THE SERVICES, INCLUDING CASUAL VISITORS TO THE SITE. IF YOU CHOOSE TO CREATE A PROFILE, CREATE OR SEARCH FOR JOBS,
			CREATE REVIEWS OR RECOMMENDATIONS, YOU MUST BECOME A MEMBER OF THE SITE BY REGISTERING FOR AND CREATING AN ACCOUNT
			ON THE SITE AND YOU MUST ALSO READ AND AGREE TO BE BOUND BY THE TERMS APPLICABLE TO MEMBERS, BY CLICKING THE
			“ACCEPT” BUTTON SET FORTH AT THE END OF ACCOUNT CREATION FORM.

			For the purposes of this Agreement, “you” means you, the person using the Site, and, if applicable, the person
			that
			agrees to the Terms applicable to members when registering for an account (“Member”). You and any persons that you
			authorize to use your account are referred to in this Agreement as the “User.” “Bootstrap Development, LLC,” “we”
			or
			“us” means Bootstrap Development, LLC. In the case of inconsistencies between these Terms and information included
			in off-line materials (e.g., promotional materials and mailers), these Terms will always govern and take
			precedence.

			1. Description of the Site and Membership

			The Site provides, among other things, an online marketplace for posting and finding jobs. Furthermore, the Site
			is
			divided generally into two sections: a public section and a private section. The public section offers to all
			visitors, among other things, general information about the Site, the ability to view and post comments on the
			official Bootstrap Development, LLC Web log (the “Bootstrap Development, LLC Blog”), and a process by which
			visitors
			can register to become Members, as further described below. The private section is only accessible by Members. The
			private section offers to Members (in addition to all services available in the public section) the ability to
			create profiles, search for jobs and technicians, post and respond to jobs, and write and respond to reviews and
			recommendations, and the ability to access their accounts on the Site (“Membership Accounts”).

			When a visitor to the Site registers to become a Member, he or she will select an available user name (“Membership
			Name”) and a corresponding user password (“Membership Password”) to create a unique, personal Membership Account.
			The Member shall also be required to specify whether he or she is registering as an individual or on behalf of a
			company or entity (and, if so, the name of the company or entity).

			2. General Acknowledgements and Agreements

			Your use of the Site constitutes your acknowledgement and acceptance of the terms and conditions of this
			Agreement,
			and you shall be bound by such terms and conditions. If you do not agree to be bound by the terms and conditions
			of
			this Agreement, do not use or access any portions of the Site or use any services offered on the Site.

			Bootstrap Development, LLC shall have the right, in its sole discretion, to amend the terms and conditions of this
			Agreement, in whole or in part, at any time, and any such changes shall be effective immediately upon member
			notification and/or publication of such changes on the Site. Your continued use of the Site after the
			effectiveness
			of such changes and/or notice constitutes your acknowledgement and acceptance of the terms and conditions of this
			Agreement, as so amended. If you do not agree to be bound by the terms and conditions of this Agreement as so
			amended, do not use or access the Site.

			If at any time the terms and conditions of this Agreement are no longer acceptable to you, whether or not as a
			result of an amendment by Bootstrap Development, LLC, do not use the Site.

			Services on the Site are available only to, and may only be used by individuals who can enter into legally binding
			contracts under applicable law. Without limitation to the foregoing, services on the Site are not available to
			minors (e.g., persons under the age of eighteen) except under the supervision of an adult parent or guardian, and
			such parent or guardian shall be responsible for all uses of the Site. Your Membership Account on the Site may not
			be sold or otherwise transferred to another person or entity. If your use of the Site is on behalf of an entity,
			you
			represent and warrant that you have the authority to bind such entity to this Agreement.

			3. Images

			You may only upload or download Images to or from the Site in accordance with the terms and conditions of this
			Agreement. You may not use, reproduce, distribute, display or create derivative works based on any Images that
			appear on the Site.

			4. Restrictions

			You agree that you shall not use the Site in any manner that is not permitted by this Agreement or that violates
			any
			law, regulation or statute in an applicable jurisdiction.

			You shall not upload or post onto the Site, or use the Site to transfer, any Image or other material or content
			that
			is covered or protected by copyright, trademark or other intellectual property rights unless you own or control
			such
			rights or have received all necessary consents. Bootstrap Development, LLC does not permit copyright infringing
			activities and infringement of intellectual property rights on this Site, and Bootstrap Development, LLC will
			remove
			all Images if properly notified that such Image infringes on another party’s intellectual property rights.
			Bootstrap
			Development, LLC reserves the right to remove Images without prior notice. Bootstrap Development, LLC may
			terminate
			a User’s access to this Site if the User is determined to be a repeat infringer. A repeat infringer is a User who
			has been notified of infringing activity more than twice and/or has had a User submission removed from the Site
			more
			than twice.

			You shall not upload or post onto the Site, or use the Site to transfer, any Image or other material or content
			that
			is libelous or slanderous or otherwise defamatory, obscene or indecent.

			You shall not upload or post onto the Site, or use the Site to transfer, any Image or other material or content
			that
			contains or constitutes viruses, worms, Trojan horses or other code with malicious, disruptive and/or destructive
			features.

			You shall not attempt to gain unauthorized access to any hardware or software systems or networks associated with
			the Site, or obtain any services or information not intentionally made available to you by Bootstrap Development,
			LLC on or through the Site.

			You shall not attempt to gain unauthorized access to the Membership Account of any other person or entity, or
			otherwise interfere with any other person's or entity's use, of the Site.

			You shall not use any false or misleading information (e.g., false or misleading names, email addresses, Taxpayer
			Identification Numbers or URLs) when using the Site, including, without limitation, with respect to the origin or
			source of any Image or other material or content that you upload or any identifying information for your
			Membership
			Account.

			Bootstrap Development, LLC reserves the right to decide whether any Image is appropriate and complies with this
			Agreement for violations other than copyright infringement and violations of intellectual property law, such as,
			but
			not limited to, pornography, obscene or defamatory material. Bootstrap Development, LLC may remove any such Image
			and/or terminate a User's access for uploading such material in violation of this Agreement at any time, without
			prior notice and at its sole discretion.

			5. Notification of Claims of Infringement

			If you are a copyright owner or an agent thereof and believe that any Image or other content infringes upon your
			copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (“DMCA”) by providing
			our
			Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):

			(i) A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right
			that is allegedly infringed;

			(ii) Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a
			single online site are covered by a single notification, a representative list of such works at that site;

			(iii) Identification of the material that is claimed to be infringing or to be the subject of infringing activity
			and that is to be removed or access to which is to be disabled and information reasonably sufficient to permit
			Bootstrap Development, LLC to locate the material;

			(iv) Information reasonably sufficient to permit Bootstrap Development, LLC to contact you, such as an address,
			telephone number, and, if available, an electronic mail address;

			(v) A statement that you have a good faith belief that use of the material in the manner complained of is not
			authorized by the copyright owner, its agent, or the law; and

			(vi) A statement that the information in the notification is accurate, and under penalty of perjury, that you are
			authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.

			Bootstrap Development, LLC’s designated Copyright Agent to receive notifications of claimed infringement is:
			Copyright Agent, Bootstrap Development, LLC, 4107 Nevis St., Boulder, CO 80301; email: copyright [at]
			bootstrapdevelopment.com. For clarity, only DMCA notices should go to the Copyright Agent; any other feedback,
			comments, requests for technical support, and other communications should be directed to help [at]
			bootstrapdevelopment.com. You acknowledge that if you fail to comply with all of the requirements of this Section
			5,
			your DMCA notice may not be valid.

			6. Management and Operation of the Site

			You acknowledge and agree that Bootstrap Development, LLC has no obligation to review any Images or other material
			or content uploaded or posted onto the Site, and shall have no responsibility for any such Images or other
			material
			or content. Bootstrap Development, LLC shall have the right, in its sole discretion, to accept or deny, delete,
			move
			or edit any Images or other material or content uploaded or posted onto the Site. If you upload or post any Images
			or other material or content onto the Site, or any Images or other material or content is uploaded or posted onto
			the Site using your Membership Name or otherwise through your Membership Account, you remain solely responsible
			for
			such Images or other material or content.

			You acknowledge and agree that Bootstrap Development, LLC shall have no responsibility for any material or content
			on other Web sites to which you may hyperlink or otherwise access from the Site, including any Web log, comments
			to
			any Web log, or any forum on the Site. You acknowledge and agree that Bootstrap Development, LLC shall have no
			responsibility for any material or content on Web sites from which you may be hyperlinked or otherwise be directed
			to the Site.

			Bootstrap Development, LLC reserves the right, in its sole discretion, to change or discontinue any or all of the
			services on the Site at any time. You acknowledge and agree that Bootstrap Development, LLC has no obligation to
			make, or continue to make, the Site or any particular portion or related service available to you (whether or not
			such unavailability is voluntary on the part of Bootstrap Development, LLC). Bootstrap Development, LLC reserves
			the
			right, in its sole discretion, to suspend or terminate your Membership Account at any time, including, without
			limitation, your Membership Name and Membership Password.

			You acknowledge and agree that Bootstrap Development, LLC may store personal and certain other information about
			you
			on your computer in the form of “cookies”. Such use of cookies is solely in connection with the operation of the
			Site. You acknowledge and agree that if you prohibit or restrict the placement of cookies on your computer, such
			prohibition or restriction may have an adverse effect on your use of the Site.

			You acknowledge and agree that Bootstrap Development, LLC may also store personal information about you on its
			computers within or outside the U.S. By using this Site you acknowledge and agree that Bootstrap Development, LLC
			may, in its sole discretion, preserve or disclose your personal information if required to do so by law or in the
			good faith belief that such preservation or disclosure is reasonably necessary to: comply with legal process;
			enforce this Agreement; respond to claims that any Image violates the rights of third-parties; or to protect the
			rights, property, or personal safety of Bootstrap Development, LLC, its Users or the general public. Registration
			data and certain other information about you is subject to our Privacy Policy. For more information, see our full
			Privacy Policy at http://www.bootstrapdevelopment.com/privacy.htm.

			7. Membership Account

			You acknowledge and agree that you are to keep confidential the Membership Name and Membership Account provided by
			Bootstrap Development, LLC to you, and the Membership Password selected by you and approved by Bootstrap
			Development, LLC for use with such Membership Name and Membership Account. Your Membership Name, Membership
			Account
			and Membership Password are personal to you and may not be shared with, or transferred to, any other person or
			entity other than a User.

			You acknowledge and agree that you will be solely responsible for each and every use of your Membership Account,
			Membership Name and Corresponding Password, and that Bootstrap Development, LLC may rely on the use of your
			Membership Account, Membership Name or Membership Password as conclusive evidence that you have used the Site.

			8. Bootstrap Development, LLC Warranties and Disclaimer

			Bootstrap Development, LLC uses reasonable efforts to ensure that the Services are available 24 hours a day, 7
			days
			a week. However, there will be occasions when the Services will be interrupted for maintenance, upgrades and
			emergency repairs or due to failure of telecommunications links and equipment that are beyond the control of
			Bootstrap Development, LLC. Bootstrap Development, LLC will use reasonable commercial efforts to minimize such
			disruption where it is within the reasonable control of Bootstrap Development, LLC. You agree that Bootstrap
			Development, LLC shall not be liable to you for any modification, suspension or discontinuance of the Service. You
			understand and agree that the Service is provided “AS-IS” without any warranty of any kind. You are responsible
			for
			obtaining access to any Services and that access may involve third party fees (such as Internet service provider
			or
			airtime charges). You are responsible for those fees, including those fees associated with the display or delivery
			of advertisements. In addition, you must provide and are responsible for all equipment necessary to access the
			Services.

			EXCEPT AS EXPRESSLY SET FORTH IN THIS AGREEMENT, Bootstrap Development, LLC DOES NOT MAKE ANY REPRESENTATIONS OR
			WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
			PURPOSE. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED IN THIS AGREEMENT, BOOTSTRAP DEVELOPMENT, LLC MAKES NO
			REPRESENTATIONS OR WARRANTIES, AND HEREBY DISCLAIMS ALL EXPRESS OR IMPLIED, WITH RESPECT TO THE SITE OR THE
			SERVICES
			ON THE SITE, OR ANY IMAGES OR OTHER MATERIALS OR CONTENT AVAILABLE ON THE SITE, INCLUDING, WITHOUT LIMITATION, ANY
			IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSES, NON-INFRINGEMENT OF COPYRIGHT,
			TRADEMARKS
			OR OTHER INTELLECTUAL PROPERTY RIGHTS, OR FREEDOM OF ANY SERVICES, OR ANY IMAGES OR OTHER MATERIALS OR CONTENT,
			FROM
			VIRUSES, WORMS, TROJAN HORSES OR OTHER CODE WITH MALICIOUS, DISRUPTIVE AND/OR DESTRUCTIVE FEATURES.

			9. Indemnification

			You agree to indemnify, defend and hold harmless Bootstrap Development, LLC and its affiliates, and their
			respective
			officers, directors, employees, owners, agents, representatives, licensors and (sub)licensees (collectively,
			“Indemnitees”) from and against all claims, expenses (including attorney fees) or other liability arising from
			your
			breach of any of your representations, warranties or obligations under this Agreement, and from any and all uses
			by
			you of the Site (including any uses under your Membership Account or Membership Name, whether or not authorized by
			you), including, without limitation, any claims or actions based on infringement or violation of intellectual
			property rights, libel or slander or other defamation, right of privacy or “false light”, right of publicity or
			blurring or distortion or alteration of any Image or other material or content whether or not intentional.
			Bootstrap
			Development, LLC shall have the right, in its sole discretion, to control the defense of any claim, action or
			matter
			subject to indemnification by you with counsel of its own choosing. You shall fully cooperate with Bootstrap
			Development, LLC in the defense of any such claim, action or matter.

			10. Limitations of Liability

			YOU ACKNOWLEDGE, BY YOUR USE OF THE SITE, THAT YOUR USE OF THE SITE, INCLUDING ANY IMAGES OR OTHER MATERIALS ON
			THE
			SITE, AND ANY RELIANCE UPON IT, IS AT YOUR SOLE RISK, THAT YOU ASSUME FULL RESPONSIBILITY FOR ALL COSTS ASSOCIATED
			WITH ALL NECESSARY SERVICING OR REPAIRS OF ANY EQUIPMENT YOU USE IN CONNECTION WITH YOUR USE OF THE SITE. YOU
			AGREE
			THAT, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, UNDER NO CIRCUMSTANCES SHALL Bootstrap Development, LLC
			BE
			LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR
			LOSS OF PROFITS, USE, IMAGES, DATA OR OTHER INTANGIBLES, EVEN IF Bootstrap Development, LLC HAS BEEN ADVISED OF
			THE
			POSSIBILITY OF SUCH DAMAGES, THAT RESULT FROM THE USE OR THE INABILITY TO USE THE SITE, INCLUDING THE SERVICES,
			FROM
			ANY CHANGES TO THE SITES, INCLUDING ITS SERVICES, OR FROM UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR
			TRANSMISSIONS
			OR CONTENT. YOU SPECIFICALLY ACKNOWLEDGE THAT DOWN-TIME AND COMPUTER VIRUSES ARE RISKS INHERENT IN THE USE OF THE
			INTERNET AND SOFTWARE PRODUCTS, AND YOU AGREE TO ASSUME RESPONSIBILITY FOR ANY HARM OR DAMAGES OF ANY KIND OR
			CHARACTER WHATSOEVER RESULTING FROM THESE POSSIBLE HARMS. YOU ALSO SPECIFICALLY ACKNOWLEDGE THAT YOU MAY BE
			DISCLOSING SENSITIVE, PRIVATE AND CONFIDENTIAL INFORMATION ABOUT YOURSELF IN YOUR USE OF THE SITES AND YOU AGREE
			TO
			ASSUME RESPONSIBILITY FOR ANY HARM OR DAMAGES OF ANY KIND OR CHARACTER WHATSOEVER RESULTING FROM YOUR RELEASE OF
			SUCH CONTENT.

			IF YOU ARE DISSATISFIED WITH THE SITES, OR WITH ANY OF THESE TERMS AND CONDITIONS, OR FEEL Bootstrap Development,
			LLC HAS BREACHED THESE TERMS AND CONDITIONS YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITES AND
			THE
			SERVICES. THE TOTAL LIABILITY OF BOOTSTRAP DEVELOPMENT, LLC TO YOU FOR ANY CLAIM ARISING FROM OR RELATING TO THESE
			TERMS AND CONDITIONS OR USE OF THE SITES SHALL NOT EXCEED THE AMOUNT PAID BY YOU FOR THE SERVICES IN QUESTION. IT
			IS
			THE INTENTION OF BOTH OF US THAT THIS PROVISION BE CONSTRUED BY A COURT AS BEING THE BROADEST LIMITATION OF
			LIABILITY CONSISTENT WITH APPLICABLE LAW.

			SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF INCIDENTAL, CONSEQUENTIAL OR OTHER TYPES OF
			DAMAGES,
			SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.

			Bootstrap Development, LLC shall have no responsibility for any Images or other material or content uploaded or
			posted onto the Site, including, without limitation any material or content uploaded or posted by any Member onto
			the Site in any forum or as any comment to a Web log.

			11. Term and Termination

			This Agreement shall continue in perpetuity unless terminated in accordance with this Section 11. Bootstrap
			Development, LLC at any time may terminate this Agreement in its sole discretion, including, without limitation,
			for
			breach by you of any of your representations, warranties or obligations under this Agreement, or for inactivity by
			you with respect to use of the Site. You may at any time terminate this Agreement by notifying Bootstrap
			Development, LLC at support [at] bootstrapdevelopment.com. In the event termination is by Bootstrap Development,
			LLC, Bootstrap Development, LLC shall notify you of such termination. Bootstrap Development, LLC reserves the
			right,
			in its sole discretion, to terminate your Membership Account at any time, including, without limitation,
			deactivating your Membership Name and Membership Password.

			12. Effect of Termination

			Upon any termination of this Agreement:

			(a) your Membership Account shall be cancelled and closed and your Membership Name and Membership Password shall
			be
			deactivated;

			(b) all Images uploaded by you may be removed from the Site; provided, however, that Bootstrap Development, LLC
			may
			continue to use the Image for internal archival and reference purposes.

			Termination of this Agreement shall not relieve you from any other obligations pursuant to any other agreement
			that
			has not been specifically terminated. The provisions of Sections 7, 9, 10, 12 and 14 shall survive the termination
			of this Agreement.

			13. Suspension

			Bootstrap Development, LLC reserves the right, in its sole discretion, to suspend your Membership Account at any
			time and for any length of time. In the event, and for so long as, Bootstrap Development, LLC suspends your
			Membership Account, you shall not have access your Membership Account using your Membership Name and Membership
			Password.

			14. Miscellaneous

			You agree not to reproduce, duplicate, copy, sell, trade, resell or exploit for any commercial purposes, any
			portion
			of the Service, use of the Service, or access to the Service.

			Bootstrap Development, LLC will not be liable by reason of any failure or delay in the performance of its
			obligations hereunder on account of strikes, shortages, riots, insurrection, fires, flood, storm, explosions, acts
			of God, war, governmental action, labor conditions, earthquakes, material shortages or any other cause which is
			beyond Bootstrap Development, LLC’s reasonable control.

			This Agreement shall be governed by and construed in accordance with the laws of the State of Colorado, without
			regard to any conflict of laws principles. Any legal action, suit or proceeding arising out of or relating to this
			Agreement shall be instituted in a court of competent subject matter jurisdiction in the federal or state courts
			of
			the State of Colorado, and you and Bootstrap Development, LLC each submit to the personal jurisdiction of such
			court
			and waive any right each might otherwise have to claim lack of personal jurisdiction or inconvenience of forum.

			The relationship between Bootstrap Development, LLC and you under this Agreement is that of independent
			contractors.
			For clarification purposes, the parties are not joint venturers, partners, principal and agent, or employer and
			employee. Neither party shall have the power to bind or obligate the other in any manner. You agree that you shall
			be responsible for all use, sales, value-added and similar taxes and duties imposed by any governing authority in
			any jurisdiction in connection with your use of the Site.

			No waiver on the part of Bootstrap Development, LLC to exercise any power, right, privilege or remedy under this
			Agreement, and no delay on the part of Bootstrap Development, LLC to exercise any such power, right, privilege or
			remedy, shall preclude any other or further exercise thereof or of any other power, right, privilege or remedy.
			Bootstrap Development, LLC shall have the right, in its sole discretion, to assign any or all of its rights or
			obligations under this Agreement. You shall have no right to assign any of your rights or obligations under this
			Agreement.

			This Agreement shall be inure to the benefit of, and be binding upon, Bootstrap Development, LLC and you, and its
			and your respective successors and assigns. Nothing in this Agreement, express or implied, is intended to confer
			upon any person or entity, other than Bootstrap Development, LLC and you, and its and your respective successors
			and
			assigns, any rights, remedies, obligations or liabilities under or by reason of this Agreement.

			Whenever the context so requires, the singular number shall include the plural and vice versa, and the masculine,
			feminine and neutral genders shall include each other. If any term or provision of this Agreement is invalid,
			illegal or unenforceable, all other terms and conditions of this Agreement shall nevertheless remain in full force
			and effect. The underlined headings contained in this Agreement are for convenience of reference only and shall
			not
			affect in any way the meaning or interpretation of this Agreement.

			The trademarks, logos, and service marks (collectively the "Trademarks") displayed on this Site are registered and
			unregistered trademarks of Bootstrap Development, LLC, Inc. its affiliates and others.

			Nothing contained on the Site should be construed as granting, by implication, estoppel, or otherwise, any license
			or right to use any Trademark displayed on this Site without the written permission of Bootstrap Development, LLC,
			Inc. or such third party that may own the Trademark displayed on the Site. Your misuse of the Trademarks displayed
			on the Site, or any other content on the Site, except as provided herein, is strictly prohibited.

			This Agreement, along with the Contributor Agreement and the License Agreement, the extent applicable, constitute
			the entire agreement between you and Bootstrap Development, LLC and governs your use of the Sites, superseding any
			prior agreements between you and Bootstrap Development, LLC. If any provision in this Agreement is inconsistent
			with
			or contradicts any provision in the Contributor Agreement or the License Agreement, the terms in the Contributor
			Agreement or License Agreement shall control and take precedence.

		</div>
		<div style="margin-top: 20px">
			<input id="acceptTerms" ui-switch="{color:'#5C9C4D', size: 'small'}"
						 name="acceptTerms" type="checkbox" ng-model="resourceData.termsAccepted"
						 class="form-control required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
		</div>

	</div>

	<fieldset class="m-t-md">
		<a ui-sref="provider.wizard.data_retention" class="btn btn-default">Previous</a>
		<button type="submit" class="btn btn-primary"
						ng-disabled="!resourceData.termsAccepted || resourceForm.$invalid || resourceForm.$pristine">
			Create Resource
		</button>
	</fieldset>
</div>