<section ng-controller="WorldViewController" id="AssetPropertiesContainer" style="height: 100%">

	<h3>Asset Properties</h3>
	<table>
		<tr><td>UUID:</td><td>{{curAsset.uuid}}</td></tr>
		<tr><td>ID:</td><td>{{curAsset.id}}</td></tr>
		<tr><td>Name:</td><td>{{curAsset.name}}</td></tr>
		<tr><td>Creator:</td><td>{{curAsset.creator.name}}</td></tr>
		<tr><td>Location (lat,lon):</td><td>{{curAsset.location.latitude}},{{curAsset.location.longitude}}</td></tr>
		<tr><td>Properties:</td><td>{{curAsset.properties}}</td></tr>
		<tr><td>Tags:</td><td>{{curAsset.tags}}</td></tr>
	</table>
	
</section>