
<section ng-controller="DeviceTypeController" id="DeviceTypeCont" style="height: 100%">

	<link rel="stylesheet" href="/bower_components/dijit/themes/claro/claro.css"/>
	<link rel="stylesheet" href="/bower_components/dgrid/css/skins/claro.css"/>

	<div style="margin:20px 0;">
		<button id="" onclick="$(this).scope().DeviceTypeAdd()">Add</button>
		<!--<button id="" onclick="$(this).scope().DeviceTypeSave()">Save</button>-->
		<button id="btnDeviceTypeDelete" disabled="disabled" onclick="$(this).scope().DeviceTypeDelete()">Delete</button>
		<!--<button id="btnDeviceTypeCancel" onclick="$(this).scope().DeviceTypeCancel()">Revert</button>-->
	</div>

	<div id="DeviceTypeTable"></div>

</section>

<script type="text/javascript">

	app = angular.module("app");
	app.controller('DeviceTypeController',
		function($scope) {

			selected = null;
			$scope.DeviceTypeLoadAll = function() {
				invokeGET($scope.http, $scope.deviceTypesAPI,
					function(data, status, headers, config) {

						// delete existing container, if necessary
						destroyElement("DeviceTypeTable");

						var nodes = [];
						var i = 0;
						for(i = 0; i < data.result.length; i ++) {
							var obj = data.result[i];
							nodes.push(obj);
						};
						columnsConfig = [
							{label: "Name", field: "name", sortable: true, editOn: "dblclick"},
							{label: "Properties", field: "num_properties"},
							{label: "Tags", field: "tags"}
						];
						displayDojoTable(nodes, "DeviceTypeTable", columnsConfig,
							function(event) {
						    	if(event.type == "dgrid-select") {
						    		$scope.selectedDeviceType = event.rows[0].data;
						    		$scope.dojo.publish("select.DeviceType", $scope.selectedDeviceType);
						    	} else if(event.type == "dgrid-deselect") {
						    		$scope.selectedDeviceType = null;
						    		$scope.dojo.publish("select.DeviceType", $scope.selectedDeviceType);
						    	} else if(event.type == "dgrid-datachange") {
						    		data = event.grid.row(event).data;
						    		data[event.cell.column.field] = event.value;
						    		$scope.DeviceTypeSave(data);
						    	}

								/* adjust UI elements */
								$("#btnDeviceTypeDelete").prop("disabled", 
										$scope.selectedDeviceType == null);
							}
						);
					}
				);
			}
			$scope.DeviceTypeLoadAll();

			$scope.DeviceTypeSave = function(deviceType){
				invokePUT($scope.http, $scope.deviceTypesAPI + "/",
					JSON.stringify(deviceType),
					function(data, status, headers, config) {
						$scope.DeviceTypeLoadAll();
					}
				);
			}
			$scope.DeviceTypeAdd = function(){
				deviceType = {
					name: "unnamed"
				}
				invokePOST($scope.http, $scope.deviceTypesAPI + "/",
					JSON.stringify(deviceType),
					function(data, status, headers, config) {
						$scope.DeviceTypeLoadAll();
					}
				);
			}
			$scope.DeviceTypeDelete = function(){
				selection = $scope.selectedDeviceType;
				if(!selection || !selection.id) return;
				invokeDELETE($scope.http, 
					$scope.deviceTypesAPI + "/" + selection.id,
					function(data, status, headers, config) {
						$scope.DeviceTypeLoadAll();
					}
				);
			}

			$scope.subscribeOnce("change.DeviceTypeProps", function(event) {
					$scope.DeviceTypeSave(event.changedItem);
				}, "deviceTypePropsChangeListener"
			);
		}
	);

</script>
