<section ng-controller="WorldViewController" id="worldViewDiv" style="height: 100%">

	<div data-dojo-type="dijit/layout/ContentPane" style="height: 100%" id="worldViewDivWrapper">

	<link rel="stylesheet" href="/styles/world.css"/>
	<style>
	html,body,#map,#detailsTabs {
		margin: 0;
		height: 100%;
	}
	.leaflet-marker-icon,.leaflet-marker-shadow {
		-webkit-transition: margin 0.2s;
		-moz-transition: margin 0.2s;
		-o-transition: margin 0.2s;
		transition: margin 0.2s;
	}
	</style>

	<div id="worldViewLayout" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="liveSplitters:false, design:'sidebar'" style="height: 100%">

		<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-props="region:'leading', splitter:true, minSize:20"
			 style="width: 300px;" id="leftAccordion">
			 <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='title:"Device Types"'>
			 	<ng-include src="'/views/device_types.html'"></ng-include>
			 </div>
			 <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='title:"Devices"'>
			 	TODO
			 </div>
		</div>

		<div id="worldMapPane" data-dojo-type="dijit/layout/ContentPane"
			data-dojo-props="region:'center', style:'height:60%'" style="height: 60%;">
			<ng-include src="'/views/world_map.html'"></ng-include>
		</div>

		<div data-dojo-type="dijit/layout/TabContainer" id="bottomTabs"
		 data-dojo-props="selectedchild:'btab1', region:'bottom', splitter:true, tabStrip:true" style="height: 40%;">
			<div id="propertiesTab" data-dojo-type="dijit/layout/ContentPane"
					data-dojo-props="title:'Properties 1', style:'padding:10px;display:none;'">
				<ng-include src="'/views/asset_properties.html'"></ng-include>
			</div>
			<div id="settingsTab" data-dojo-type="dijit/layout/ContentPane"
				data-dojo-props="title:'Properties 2', style:'padding:10px;display:none;'">
				
			</div>
		</div>

	</div>

	</div>
</section>

<script>

	renderElement("worldViewDiv");

</script>
