
<section ng-controller="AssetCategoryController" id="AssetCategoryCont" style="height: 100%">

	<link rel="stylesheet" href="/bower_components/dijit/themes/claro/claro.css"/>
	<link rel="stylesheet" href="/bower_components/dgrid/css/skins/claro.css"/>

	<div style="margin:20px 0;">
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$(this).scope().assetCategoryAdd()">Add</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$(this).scope().assetCategoryEdit()">Edit</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$(this).scope().assetCategorySave()">Save</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$(this).scope().assetCategoryCancel()">Cancel</a>
	</div>

	<div id="assetCategoryTree"></div>
	<div id="grid"></div>

	<button onclick="window.grid.save();">Save</button>
	<button onclick="window.grid.revert();">Revert</button>

</section>

<script type="text/javascript">
	var grid; // stores global reference to grid instance

	function displayDojoTable(nodes) {

		//alert(JSON.stringify(nodes));

		require(["dojo/on", "dgrid/OnDemandGrid", "dgrid/tree", "dgrid/editor", 
					"dojo/_base/declare", "dgrid/test/data/base", 
					"dojo/store/Observable", "dojo/store/Memory",
					"dgrid/Keyboard", "dgrid/Selection", "dgrid/extensions/DnD",
					"dojo/domReady!"], 
				function(on, OnDemandGrid, tree, editor, declare, testStore, 
						Observable, Memory, Keyboard, Selection, DnD){

					var DnDGrid = declare([OnDemandGrid, Keyboard, Selection, DnD]);

					function nbspFormatter(value){
						// returns "&nbsp;" for blank content, to prevent cell collapsing
						return value === undefined || value === "" ? "&nbsp;" : value;
					}

					//var treeStore = testCountryStore;
					var nodesStore = //new Observable(
						new Memory({
						data: nodes,
						getChildren: function(parent, options) {
							//alert(JSON.stringify(parent));
							return parent.children;
						},
						mayHaveChildren: function(parent) {
							return true;
						},
						query: function (query, options){
							query = query || {};
							options = options || {};
							if (!query.parent && !options.deep) {
								// Default to a single-level query for root items (no parent)
								query.parent = undefined;
							}
							return this.queryEngine(query, options)(this.data);
						}
					}
					//)
					);
					var treeStore = new Observable(
							//new DeferredWrapper(
							nodesStore
							//)
					);

					window.grid = new DnDGrid({
						sort: "name",
						store: nodesStore,
						columns: [
							tree(editor({label: "Name", field: "name", sortable: true, editOn: "dblclick"})),
							//editor({label: "Visited", field: "bool", sortable: false}, "checkbox"),
							{label: "Creator", field: "creator"},
							{label: "UUID", field: "uuid"},
							//{label:"Timezone", field:"timezone"}
						],
						dndParams: {
							allowNested: true, 
							checkAcceptance: function(source, nodes) {
								console.log(source + " - " + this + " - " + (source !== this));
								//return source !== this; // Don't self-accept.
								return true;
							}
						}
					}, "grid");
				});
				
		return;
		
		
		require(["dgrid/OnDemandGrid", "dgrid/Selection", "dgrid/Keyboard", "dgrid/editor", "put-selector/put",
				"dojo/_base/lang", "dojo/_base/declare", "dojo/on", "dojo/dom-construct",
				"dojo/store/Memory", "dojo/store/Observable", "dojo/data/ObjectStore",
				"dgrid/test/data/DeferredWrapper", "dojo/domReady!"],
			function(Grid, Selection, Keyboard, editor, put, lang, declare, on, 
					domConstruct, Memory, Observable, ObjectStore, DeferredWrapper){

				var optionsStore = new Memory({ data: nodes }),
					optionsDataStore = new ObjectStore({
						objectStore: optionsStore,
						labelProperty: "name"
					}),
					CustomGrid = declare([Grid, Selection, Keyboard]),
					TestStore = declare(Memory, {
						put: function(object, options){
							console.log("put called for ID: ", object.id, object);
							this.inherited(arguments);
						}
					}),
					optStr = "",
					i;

				function customRenderCell(object, data) {
					var container = domConstruct.create("div", { "class": "outer" });
					domConstruct.place('<span class="rendercell">' +
						("" + data).replace(/</g, "&lt;") + "</span>", container);
					return container;
				}
				
				function customFormatter(data) {
					return '<div class="outer"><span class="formatter">' +
						("" + data).replace(/</g, "&lt;") + "</span></div>";
				}
				
				var cancelDataChange = false;
				var
					editorType = "text",
					editOn = true,
					deps = [],
					async = true,
					autoSave = true,
					store,
					i;

				store = new TestStore({ data: nodes });
				if(async){
					store = new DeferredWrapper(store, 100);
				}
				store = Observable(store);
				
				require(deps, function(ctor){
					var columnArgs = {
						"autoSave": autoSave,
						"name": ctor || editorType
					};
					if(editOn){
						columnArgs.editOn = editOn;
					}

					if(!grid){
						grid = new CustomGrid({
							sort: "id",
							store: store,
							columns: {
								"Name": editor(columnArgs)
							},
							farOffRemoval: async ? 400 : Infinity
						}, "grid");
					}else{
						// instead of destroying/recreating, just reset store + columns
						grid.set("store", null);
						grid.set("columns", {
							"name": editor(lang.mixin({}, options.column, columnArgs))
						});
						grid.set("store", store);
					}
				});

				on(document.body, "dgrid-datachange", function(evt){
					console.log(evt.grid.id + " row " + evt.cell.row.id + " data changed" +
					(evt.parentType ? " (via " + evt.parentType + "): " : ": "),
					evt.oldValue, " -> ", evt.value);

					if(cancelDataChange){
						evt.preventDefault();
					}
				});

			});
	}



	app = angular.module("app");
	app.controller('AssetCategoryController',
		function($scope) {

			convertNode = function(node, flat) {
				node = JSON.parse(JSON.stringify(node));
				var res = node;
				/*res["children"] = []
				alert(subs);
				var subs = node["subCategories"];
				delete node["subCategories"];
				if(!flat) {
					var res = {
						"data": node,
						"children": []
					};
				}
				var i = 0;
				for(i = 0; i < subs.length; i ++) {
					obj = subs[i];
					var sub = convertNode(obj, flat);
					res.children.push(sub);
				}*/
				return JSON.parse(JSON.stringify(res));
			}

			categorySelected = null;
			$scope.assetCategoryLoadAll = function() {
				invokeGET($scope.http, $scope.categoriesAPI,
					function(data, status, headers, config) {
						var nodes = [];
						var i = 0;
						for(i = 0; i < data.result.length; i ++) {
							var obj = data.result[i];
							var e = convertNode(obj, true);
							nodes.push(e);
						};
						displayDojoTable(nodes);
						/*$('#assetCategoryTree').puitreetable({  
							"columns": [
								//{field: "uuid", headerText: "UUID"},
								{field:"name", headerText: "Name"}
							],
							"selectionMode": 'single',
							"nodeSelect": function(event, ui) {  
						   		categorySelected = ui.data;
							},
							"nodes": nodes
						});*/
					}
				);
			}
			$scope.assetCategoryLoadAll();

			$scope.assetCategoryEdit = function(){
				if (categorySelected != undefined){
					$('#tg').treegrid('select', categorySelected);
					return;
				}
				var row = $('#tg').treegrid('getSelected');
				if (row){
					categorySelected = row.id
					$('#tg').treegrid('beginEdit', categorySelected);
				}
			}
			$scope.assetCategorySave = function(){
				if (categorySelected != undefined){
					var t = $('#tg');
					t.treegrid('endEdit', categorySelected);
					categorySelected = undefined;
					var persons = 0;
					var rows = t.treegrid('getChildren');
					for(var i=0; i<rows.length; i++){
						var p = parseInt(rows[i].persons);
						if (!isNaN(p)){
							persons += p;
						}
					}
					var frow = t.treegrid('getFooterRows')[0];
					frow.persons = persons;
					t.treegrid('reloadFooter');
				}
			}
			$scope.assetCategoryCancel = function(){
				if (categorySelected != undefined){
					$('#tg').treegrid('cancelEdit', categorySelected);
					categorySelected = undefined;
				}
			}
			$scope.assetCategoryAdd = function(){
				alert("hi");
				if (categorySelected != undefined){
					$('#tg').treegrid('cancelEdit', categorySelected);
					categorySelected = undefined;
				}
			}
		}
	);

</script>
