
<section ng-controller="AssetCategoryController" id="AssetCategoryCont" style="height: 100%">

	<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.0/dojo/dojo.js"></script>

	<div style="margin:20px 0;">
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$(this).scope().assetCategoryAdd()">Add</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$(this).scope().assetCategoryEdit()">Edit</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$(this).scope().assetCategorySave()">Save</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$(this).scope().assetCategoryCancel()">Cancel</a>
	</div>

	<div id="assetCategoryTree"></div>

</section>

<script type="text/javascript">

	app = angular.module("app");
	app.controller('AssetCategoryController',
		function($scope) {

			convertNode = function(node) {
				node = JSON.parse(JSON.stringify(node));
				var res = {
					"data": node,
					"children": []
				};
				var subs = res.data["subCategories"];
				delete res.data["subCategories"];
				var i = 0;
				for(i = 0; i < subs.length; i ++) {
					obj = subs[i];
					var sub = convertNode(obj);
					res.children.push(sub);
				}
				return JSON.parse(JSON.stringify(res));
			}

			categorySelected = null;
			$scope.assetCategoryLoadAll = function() {
				invokeGET($scope.http, $scope.coreAPI + '/category',
					function(data, status, headers, config) {
						var nodes = [];
						var i = 0;
						for(i = 0; i < data.result.length; i ++) {
							var obj = data.result[i];
							var e = convertNode(obj);
							nodes.push(e);
						};
						$('#assetCategoryTree').puitreetable({  
							"columns": [
								//{field: "uuid", headerText: "UUID"},
								{field:"name", headerText: "Name"}
							],
							"selectionMode": 'single',
							"nodeSelect": function(event, ui) {  
						   		categorySelected = ui.data;
							},
							"nodes": nodes
						});
					}
				);
			}
			$scope.assetCategoryLoadAll();

			$scope.assetCategoryEdit = function(){
				if (categorySelected != undefined){
					$('#tg').treegrid('select', categorySelected);
					return;
				}
				var row = $('#tg').treegrid('getSelected');
				if (row){
					categorySelected = row.id
					$('#tg').treegrid('beginEdit', categorySelected);
				}
			}
			$scope.assetCategorySave = function(){
				if (categorySelected != undefined){
					var t = $('#tg');
					t.treegrid('endEdit', categorySelected);
					categorySelected = undefined;
					var persons = 0;
					var rows = t.treegrid('getChildren');
					for(var i=0; i<rows.length; i++){
						var p = parseInt(rows[i].persons);
						if (!isNaN(p)){
							persons += p;
						}
					}
					var frow = t.treegrid('getFooterRows')[0];
					frow.persons = persons;
					t.treegrid('reloadFooter');
				}
			}
			$scope.assetCategoryCancel = function(){
				if (categorySelected != undefined){
					$('#tg').treegrid('cancelEdit', categorySelected);
					categorySelected = undefined;
				}
			}
			$scope.assetCategoryAdd = function(){
				alert("hi");
				if (categorySelected != undefined){
					$('#tg').treegrid('cancelEdit', categorySelected);
					categorySelected = undefined;
				}
			}
		}
	);

</script>
