<section ng-controller="WorldViewController" id="WorldViewContainer" style="height: 100%">


	<link rel="stylesheet" href="http://demos.dojotoolkit.org/dijit/themes/claro/document.css"/>
	<link rel="stylesheet" href="http://demos.dojotoolkit.org/dijit/themes/claro/claro.css"/>
	<link rel="stylesheet" href="/styles/dojo-layout.css"/>

        <!--<link rel="stylesheet" href="/scripts/dojo/resources/dojo.css"/>
        <link rel="stylesheet" href="/scripts/dijit/themes/claro/claro.css"/>
        <link rel="stylesheet" href="/scripts/dojox/grid/resources/Grid.css"/>
        <link rel="stylesheet" href="/scripts/dojox/grid/resources/claroGrid.css"/>-->
        
        
	<script type="text/javascript" src="/scripts/dojo-layout.js"></script>

	<link rel="stylesheet" href="/styles/world.css"/>
	<style>
	html,body,#map {
		margin: 0;
		height: 100%;
	}
	.leaflet-marker-icon,.leaflet-marker-shadow {
		-webkit-transition: margin 0.2s;
		-moz-transition: margin 0.2s;
		-o-transition: margin 0.2s;
		transition: margin 0.2s;
	}
	</style>

	<!-- basic preloader: -->
	<!--<div id="loader">
		<div id="loaderInner" style="direction:ltr;">Loading ...</div>
	</div>-->
	
	<style type="text/css">
	    .dojoxGrid table {
	        margin: 0;
	    }
	</style>

	<script type="dojo/require">
		dom: "dojo/dom",
		registry: "dijit/registry"
	</script>
	
	<!-- contentMenu popup -->
	<div data-dojo-type="dijit/Menu" id="submenu1" data-dojo-props='contextMenuForWindow:true, style:"display:none"'
		 style="display: none;">
		<div data-dojo-type="dijit/MenuItem"
			 data-dojo-props="iconClass:'dijitIconCut', onClick: function(){ alert('not actually cutting anything. Just a test!'); }">
			Cut
		</div>
		<div data-dojo-type="dijit/MenuItem"
			 data-dojo-props="iconClass:'dijitIconCopy', onClick:function(){ alert('not actually copying anything, just a test!'); }">
			Copy
		</div>
		<div data-dojo-type="dijit/MenuItem"
			 data-dojo-props="iconClass:'dijitIconPaste', onClick: function(){ alert('not actually pasting anything, just a test!'); }">
			Paste
		</div>
	</div>
	<!-- end contextMenu -->
	
	<div id="main" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="liveSplitters:false, design:'sidebar'">
	
	<div id="header" data-dojo-type="dijit/MenuBar" data-dojo-props="region:'top'">
		<div data-dojo-type="dijit/PopupMenuBarItem" id="edit">
			<span>Edit</span>
	
			<div data-dojo-type="dijit/Menu" id="editMenu">
				<div data-dojo-type="dijit/MenuItem" id="cut" data-dojo-props="
							iconClass:'dijitIconCut',
							onClick:function(){ console.log('not actually cutting anything, just a test!') }
						">Cut
				</div>
				<div data-dojo-type="dijit/MenuItem" id="copy" data-dojo-props="
							iconClass:'dijitIconCopy',
							onClick: function(){ console.log('not actually copying anything, just a test!') }
						">Copy
				</div>
				<div data-dojo-type="dijit/MenuItem" id="paste" data-dojo-props="iconClass:'dijitIconPaste',
							onClick: function(){ console.log('not actually pasting anything, just a test!') }">Paste
				</div>
				<div data-dojo-type="dijit/MenuSeparator" id="separator"></div>
				<div data-dojo-type="dijit/MenuItem" id="undo" data-dojo-props="iconClass:'dijitIconUndo'">Undo</div>
			</div>
		</div>
	</div>
	
	<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-props="region:'leading', splitter:true, minSize:20"
		 style="width: 300px;" id="leftAccordion">
	
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='title:"Asset Types"'>
			<!--<table id="assetCategories" data-dojo-type="dojox.grid.TreeGrid" data-dojo-props="
					treeModel: assetCategoriesStore
				">
			  <thead>
			    <tr>
			      <th field="id" width="50px">ID</th>
			      <th field="name" width="200px">Name</th>
			    </tr>
			  </thead>
			</table>-->
		</div>

		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Device Types'">
			<div id="rootlessTree" data-dojo-type="dijit/Tree" data-dojo-props="
						model:continentModel,
						query:{ type:'continent' },
						showRoot: false,
						openOnClick:true
					"></div>
		</div>

	</div>
	<!-- end AccordionContainer -->

	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', tabStrip:true" id="topTabs">
		<div id="top-content">
			<div id="map"></div>
			<script type='text/javascript' src='scripts/modules/maps-markers.js'></script>
			<div style="position: absolute; top: 0px; right: 20px; opacity:0.7; background: #fff; padding: 10px;">
				<div style="opacity:1.0;">
					<h3>World View</h3>
					<div><a ng-click="addAsset()" style="cursor: pointer;">+ Add Thing</a></div>
					<div><a ng-click="importOSM({'highway':'street_lamp'})" 
						style="cursor: pointer;">+ Import OSM Lights</a></div>
					<div><a ng-click="importOSM({'natural':'tree'})" 
						style="cursor: pointer;">+ Import OSM Trees</a></div>
				</div>
			</div>
		</div>
	</div>

	
	<!-- bottom right tabs -->
	<div data-dojo-type="dijit/layout/TabContainer" id="bottomTabs"
		 data-dojo-props="
					tabPosition:'top', selectedchild:'btab1', region:'bottom',
					splitter:true, tabStrip:true
				">
		<div id="btab1" data-dojo-type="dijit/layout/ContentPane" data-dojo-props='title:"Properties", style:" padding:10px; "'>
			<h3>Asset Properties</h3>
			<table>
				<tr><td>UUID:</td><td>{{curAsset.uuid}}</td></tr>
				<tr><td>ID:</td><td>{{curAsset.id}}</td></tr>
				<tr><td>Name:</td><td>{{curAsset.name}}</td></tr>
				<tr><td>Creator:</td><td>{{curAsset.creator.name}}</td></tr>
				<tr><td>Location (lat,lon):</td><td>{{curAsset.latitude}},{{curAsset.longitude}}</td></tr>
				<tr><td>Properties:</td><td>{{curAsset.properties}}</td></tr>
				<tr><td>Tags:</td><td>{{curAsset.tags}}</td></tr>
			</table>
		</div>
	
	</div>
	<!-- end Bottom TabContainer -->
	
	<!-- dialog in body -->
	<div id="dialog1" data-dojo-type="dijit/Dialog" style="display:none;" data-dojo-props="
			title:'Floating Modal Dialog from href',
			href:'../../dijit/tests/layout/getResponse.php?delay=3000&amp;messId=3',
			style: 'width: 400px;',
			refreshOnShow:true
		"></div>
	<div id="dialogAB" data-dojo-type="dijit/Dialog" data-dojo-props="title:'Floating Modal Dialog'" style="display:none;">
		<div class="dijitDialogPaneContentArea">
			This is a notice message...
		</div>
	
		<div class="dijitDialogPaneActionBar">
			<button data-dojo-type="dijit/form/Button" type="submit" id="ABdialog1button1">OK</button>
			<button data-dojo-type="dijit/form/Button" type="button"
					data-dojo-props="onClick:function(){ registry.byId('dialogAB').onCancel(); }"
					id="ABdialog1button2">Cancel
			</button>
		</div>
	</div>
	
	</body>
</section>