<div class="row border-bottom">
    <nav class="navbar navbar-static-top nav-top" role="navigation" style="margin-bottom: 0">
        <!--<div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>-->
        <div class="navbar-header">
            <a ui-sref="index.main"><img class="img-responsive" src="assets/img/riox_logo_green3_xs.png"  style="height: 30px; margin-top: 8px;
            margin-left:8px" /></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a ui-sref="index.dashboard">
                    <i class="fa fa-dashboard"></i> Dashboard
                </a>
            </li>
            <li>
                <a ui-sref="index.settings">
                    <i class="fa fa-cogs"></i> Settings
                </a>
            </li>
	        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a ui-sref="index.signup">Sign up</a></li>
	        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a ui-sref="index.login">Login</a></li>
	        <li ng-show="isLoggedIn()">Hello {{ getCurrentUser().name }}</li>
	        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a ui-sref="index.settings"><span
              class="glyphicon glyphicon-cog"></span></a></li>
	        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a ng-click="logout()">Logout</a></li>
        </ul>
    </nav>
</div>
