<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
		<servlet-name>WebServletAdapter</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
		<init-param>
			<param-name>acceptRanges</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>dirAllowed</param-name>
			<param-value>true</param-value>
		</init-param>
<!-- 		<init-param> -->
<!-- 			<param-name>relativeResourceBase</param-name> -->
<!-- 			<param-value>/app</param-value> -->
<!-- 		</init-param> -->
		<init-param>
			<param-name>redirectWelcome</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>ApiServletAdaptor</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>iot.api.GenericServiceImpl</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>WebServletAdapter</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApiServletAdaptor</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<security-constraint>
		<display-name>Protected Area</display-name>
		<web-resource-collection>
			<web-resource-name>REST</web-resource-name>
			<url-pattern>/api/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>jdbc</realm-name>
	</login-config>
	<security-role>
		<description>Users</description>
		<role-name>user</role-name>
	</security-role>
	<security-role>
		<description>Administrators</description>
		<role-name>admin</role-name>
	</security-role>
</web-app>